@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap");

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pomodoro: #f5f0f0;
  --shortBreak: #f0f4f6;
  --longBreak: #f2f5f0;
  --pomodoro-shadow: #D2000B;
  --shortBreak-shadow: #0976BF;
  --longBreak-shadow: #589C00;
}


body {
  background-color: var(--pomodoro);
  transition: background-color 1s ease;
  user-select: none;
}

.height-full {
  height: 100vh;
  overflow: auto;
}

.bg-transparent {
  background-color: transparent;
}

#clock {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 175px;
  line-height: 235px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #0A060E;
  text-shadow: 0 4px 4px var(--pomodoro-shadow);
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}

.mode-button {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: var(--pomodoro-shadow);
  border: none;
  margin: 0;
  background: none;
}

.mode-button.current {
  border: 2px solid var(--pomodoro-shadow);
  border-radius: 10px;
}

.mode-button:disabled,
.mode-button[disabled]{
  opacity: 0.6;
}

.play, .pause {width:100px;height:100px;}

.play-pause-btn.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}

/* The sidepanel menu */
.sidepanel {
  position: fixed;
  width: 0;
  height: auto;
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  color: black;
  background-color: lightgray;
  opacity: 80%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

.setting {
  position: absolute;
  width: 92px;
  height: 28px;
  left: 340px;
  top: 118px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02em;
  color: black;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}