@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap");

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pomodoro: #f5f0f0;
  --shortBreak: #f0f4f6;
  --longBreak: #f2f5f0;
  --pomodoro-shadow: #D2000B;
  --shortBreak-shadow: #0976BF;
  --longBreak-shadow: #589C00;
}


body {
  background-color: var(--pomodoro);
  transition: background-color 1s ease;
  user-select: none;
}

.height-full {
  height: 100vh;
  overflow: auto;
}

.bg-transparent {
  background-color: transparent;
}

#clock {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 175px;
  line-height: 235px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #0A060E;
  text-shadow: 0 4px 4px var(--pomodoro-shadow);
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}

.mode-button {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: var(--pomodoro-shadow);
  border: none;
  margin: 0;
  background: none;
}

.mode-button.current {
  border: 2px solid var(--pomodoro-shadow);
  border-radius: 10px;
}

.mode-button:disabled,
.mode-button[disabled]{
  opacity: 0.6;
}

.play, .pause {width:100px;height:100px;}

.play-pause-btn.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
}